@using TVKetchup.Models.TVDB
@{
    ViewBag.Title = "Lost - Today's Episode";
    var ep = (Episode)ViewData["episode"];
    var background = ViewData["background"];
    var @epHeader = string.Format("Season {0} Episode {1}", @ep.airedSeason, @ep.dvdEpisodeNumber);
}

@section Style
{
    <style>
        html {
            height: 100%;
        }
        body {
            position: relative;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        min-height: 100%;
        }
        body::after {
            content: "";
            background: url('http://thetvdb.com/banners/@background') no-repeat center center;
            background-size:cover;
            opacity: 0.1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: fixed;
            z-index: -1;  
            -webkit-filter: grayscale(1); /* Old WebKit */
            filter: grayscale(1);
        }

        .pageContainer {
            margin: 20px;
        }

        .title {
            font-size: 26px;
            line-height: 26px;
        }

        .subtitle {
            font-size: 18px;
        }

        .mainImage {
            padding: 10px 0px; 
        }

        .mainImage img {
            width: 100%;
            height: 100%;
            max-width: 748px;
        }

        .overview {
            //max-width: 748px;
        }
    </style>
}

<div class="pageContainer">
    <div class="header">
        <div class="title">@ep.episodeName</div>
        <div class="subtitle">@epHeader</div>
    </div>

    <div class="mainImage">
        <img src="@ep.filename"></img>
    </div>

    <div class="overview">
        <p>@ep.overview</p>
    </div>

    <div style="float:right;"><p>Back to <a asp-controller="Lost" asp-action="Episodes">all episodes</a>.</p></div>
</div>